@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

/*------- Header Section --------*/

.head-text{
    background: #EC623C;
    height: 40px;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: center;
}

.head-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 2%;
}

.weblogo img{
    height: 100px;
    width: auto;
    position: relative;
    z-index: 100;
}

.contact-information{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}

.head-block a.btn.book-btn{
    margin-left:15px;
    width: 190px;
    box-shadow: 0 0 10px #000;
    transition: all .2s;
}

a.btn.book-btn.yellow-btn{
    background: #FEDD3F;
    color: #000;
}

a.btn.book-btn.yellow-btn:hover{
    background: #f0852d;
    color: #fff;
}

.btn.book-btn{
    margin: 0 auto;
    display: inline-block;
    background: #f0852d;
    text-decoration: none;
    padding: 8px 25px;
    border-radius: 30px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    min-width: 180px;
    transition: all .2s;
}

.btn.book-btn:hover{
    background: #FEDD3F;
    color: #000 ;
}

@media(max-width:600px){
    .head-block{
        display: block;
        /* justify-content: space-between; */
        /* align-items: center; */
        /* padding: 5px 2%; */
    }

    .weblogo img{
        height: 80px;
        width: auto;
        position: relative;
        z-index: 100;
    }

    .contact-information{
        display: block;
        margin-top: 190px;
        margin-left: 80px;
        /* align-items: center; */
        position: relative;
        z-index: 100;
    }
}



/*------- Banner Section --------*/


.book-demo.banner-backbgbox{
    height: 100vh;
    /* position: relative; */
    bottom: 500px;
}

.banner-section video{
    width: 100%;
    height: 100vh;
    background-size: 100%;
    position: absolute;
    z-index: 5;
    top: 40px;
    object-fit: fill;
}

video{
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.book-demo .banner-section .caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.book-demo .banner-section .caption img{
    height: 200px;
    display: block;
    width: auto;
    object-fit: cover;
}

@media(max-width:600px){
    .book-demo.banner-backbgbox{
        height: 50vh;
        bottom: 400px;
    }

    .banner-section video{
        width: 100%;
        height: 70vh;
        background-size: 100%;
        position: absolute;
        z-index: 5;
        top: 40px;
        object-fit: fill;
    }

    .book-demo .banner-section .caption{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
    }

    .book-demo .banner-section .caption img{
        height: 100px;
        display: block;
        width: auto;
        object-fit: cover;
    }
}



/*-------- Discount Coupon Section ---------*/

.dcs{
    width: 90%;
    min-height: 150px;
    margin: 0 5%;
    position: absolute;
    top: 78vh;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-gallery{
    width: 280px;
    height: 100%;
    background: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
}

.card-gallery h2{
    font-size: 20px;
    font-weight: 500;
    padding-left: 90px;
    padding-top: 20px;
}

.card-gallery .st{
    padding-left: 75px;
}

.card-gallery h1{
    font-size: 35px;
    font-weight: 700;
    padding-left: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-gallery .off{
    padding-left: 75px;
}

.card-gallery button{
    background: #FEDD3F;
    color: #000;
    border-radius: 20px;
    border: none;
    padding: 5px 20px;
    margin-left: 75px;
    margin-bottom: 15px;
}

.card-gallery button:hover{
    background: #f0852d;
    color: #fff;
}

.card-gallery button a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 4  00;
}

.card-gallery button a:hover{
    color: #fff;
}

.card-gallery img{
    width: 100%;
    height: 185px;
    /* margin-top: 56px; */
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}


@media(max-width:600px){
    .dcs{
        width: 100%;
        height: 400px;
        /* border: 2px solid black; */
        margin: 5% 5%;
        position: absolute;
        top: 85vh;
        overflow-x: scroll;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .card-gallery{
        width: 380px;
        height: 100%;
        background: #fff;
        margin-left: 50px;
        /* margin-right: 15px; */
        border: 1px solid black;
        /* display: flex; */
        /* align-items: center; */
        justify-content: center;
        border-radius: 1.2rem;
    }

    .card-gallery h2{
        font-size: 20px;
        font-weight: 500;
        padding-left: 140px;
    }

    .card-gallery h1{
        font-size: 35px;
        font-weight: 700;
        padding-left: 120px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .card-gallery .st{
        padding-left: 125px;
    }

    .card-gallery .off{
        padding-left: 125px;
    }

    .card-gallery button{
        background: #FEDD3F;
        color: #000;
        border-radius: 20px;
        border: none;
        padding: 5px 20px;
        margin-left: 130px;
        margin-bottom: 15px;
    }

    .card-gallery img{
        width: 100%;
        height: 223px;
        margin-top: 5px;
        border-bottom-left-radius: 1.2rem;
        border-bottom-right-radius: 1.2rem;
    }
}



/*-------- BUY TICKET ONLINE ---------*/

.booking-con{
    width: 90%;
    height: 100vh;
    background: linear-gradient(91deg,#5602c1 1.6%,#8f0bf7);
    position: absolute;
    top: 60rem;
    left: 68px;
}

.booking-con-text h3{
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 20px;
    text-shadow: 0 5px #00000024;
}

.booking-block{
    width: 90%;
    height: 80%;
    /* background: skyblue; */
    border-radius: 20px;
    position: relative;
    left: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.booking-block1{
    width: 40%;
    height: 80%;
    /* background: black; */
    border-radius: 20px;
    position: relative;
    top: 40px;
}

.booking-block2{
    width: 40%;
    height: 85%;
    background: #fff;
    border-radius: 20px;
    position: relative;
    top: 40px;
}

.carousel-inner{
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.booking-block2 p{
    font-size: 25px;
    padding: 20px 0 0px 20px;
}

.booking-block2 select{
    width: 300px;
    margin-left: 20px;
}

.booking-block2 button{
    margin-left: 20px;
}


@media(max-width:600px){
    .booking-con{
        width: 90%;
        height: 200vh;
        background: linear-gradient(91deg,#5602c1 1.6%,#8f0bf7);
        position: absolute;
        top: 180vh;
        /* left: px; */
    }

    .booking-block{
        width: 90%;
        height: 80%;
        /* background: skyblue; */
        border-radius: 20px;
        position: relative;
        left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .booking-block1{
        width: 90%;
        height: 80%;
        /* background: black; */
        border-radius: 20px;
        position: relative;
        top: 20px;
    }

    .booking-block2{
        width: 90%;
        height: 50%;
        background: #fff;
        border-radius: 20px;
        position: relative;
        top: 20px;
    }
}



/*-------- Happy Tales Section -------*/

.happy-tales-section{
    width: 100%;
    /* background: #F3F6F4; */
    /* background: pink; */
    position: absolute;
    top: 255vh;
    padding: 40px 0;
}

.happy-tales-cont {
    /* max-width: 1280px; */
    padding: 0 24px;
    margin: 0 auto;
}

.htc-img {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 50px;
}

.happy-tales-section h3{
    margin-bottom: px;
    padding-top: 30px;
    color: #000;
    font-size: 40px;
    font-weight: 700;
    /* text-transform: uppercase; */
    letter-spacing: 3px;
}

.text-center{
    text-align: center!important;
}

/* .card__content{
    overflow: hidden;
} */

.swiper-wrapper{
    width: 90%;
    height: auto;
    /* border: 2px solid red; */
    margin-left: 62.5px;
    display: flex;
    justify-content: space-between;
}

.card-box{
    width: 350px;
    height: 350px;
    margin-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-box-u{
    width: 100%;
    height: 50%;
    /* background: red; */
}

.card-box-u .comm{
    position: relative;
    bottom: 25px;
    left: 40%;
}

.card-box-l{
    width: 100%;
    height: 50%;
    /* background: green; */
    text-align: center;
    padding-top: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 10px #0000003d;
}

.card-box-l h2{
    font-size: 20px;
    color: #f0852d;
    font-weight: 100;
}

.card-box-l ul{
    display: flex;
    color: #FEDD3F;
    list-style: none;
}

.card-box-l ul li{
    padding-left: 5px;
    font-size: 25px;
    margin-left: 25px;
}


@media(max-width:600px){
    .happy-tales-section{
        width: 100%;
        position: absolute;
        top: 390vh;
    }

    .happy-tales-cont {
        /* max-width: 1280px; */
        /* padding: 0 24px; */
        
    }

    .card-container{
        width: 100%;
        overflow-x: scroll;
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
    }

    .swiper-wrapper{
        width: 100%;
        height: 450px;
    }

    .card-box{
        width: 550px;
        height: 450px;
        margin-left: 50px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .card-box-l{
        width: 380px;
        height: 50%;
        /* background: green; */
        text-align: center;
        padding-top: 40px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 5px 5px 10px #0000003d;
    }

    .card-box-u{
        width: 380px;
        height: 50%;
        /* background: red; */
    }

    .card-box-l ul li{
        padding-left: 10px;
        font-size: 25px;
        margin-left: 25px;
    }
}



/*--------- TRAMPOLINE BENEFITS ---------*/

.trampoline{
    width: 100%;
    height: 90vh;
    background: pink;
    position: absolute;
    top: 360vh;
}

.trampoline-container{
    width: 100%;
    height: 100%;
    background: url(./img/benefitsbg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.girl-img{
    width: 400px;
    height: 580px;
    background: url(./img/jump-girl.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* border: 2px solid ; */
    position: absolute;
    top: 100px;
    left: 10px;
}

.trapoline-text{
    width: 500px;
    height: 120px;
    position: relative;
    top: 130px;
    left: 800px;
}

.trapoline-text h2{
    text-align: end;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #fff;
    text-shadow: 0 0 5px #00000096;
}

.trapoline-text h1{
    text-align: end;
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #fff;
    text-shadow: 0 0 5px #00000096;
}

.trampoline-benefits{
    width: 800px;
    height: 200px;
    position: relative;
    top: 200px;
    left: 533px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.benefit-block{
    width: 150px;
    height: 100%;
}

.benefit-block img{
    width: 85px;
    display: block;
    height: auto;
    margin: 0 auto 25px;
    color: black;
}

.benefit-block label{
    font-size: 20px;
    font-weight: 600;
    display: block;
    text-align: center;
    color: white;
    line-height: 1.3;
}

@media(max-width:600px){
    .trampoline{
        width: 100%;
        height: 60vh;
        /* background: pink; */
        position: absolute;
        top: 550vh;
    }
    
    .trampoline-container{
        width: 100%;
        height: 100%;
        background: url(./img/benefitsbg.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
    }

    .girl-img{
        width: 200px;
        height: 290px;
        background: url(./img/jump-girl.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        /* border: 2px solid ; */
        position: absolute;
        top: 30px;
        left: 5px;
    }

    .trapoline-text{
        width: 250px;
        height: 60px;
        position: relative;
        top: 30px;
        left: 180px;
    }

    .trapoline-text h2{
        text-align: center;
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 2px;
        color: #fff;
        text-shadow: 0 0 5px #00000096;
    }

    .trapoline-text h1{
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 2px;
        color: #fff;
        text-shadow: 0 0 5px #00000096;
    }

    .trampoline-benefits{
        width: 250px;
        height: 180px;
        position: relative;
        top: 60px;
        left: 280px;
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
    }
    .benefit-block{
        width: 75px;
        height: 0px;
    }

    .benefit-block img{
        width: 42.5px;
        display: block;
        height: auto;
        margin: 0 auto 12.5px;
        color: black;
    }

    .benefit-block label{
        font-size: 10px;
        font-weight: 500;
        display: block;
        text-align: center;
        color: white;
        line-height: 1;
    }
}


/*--------- SNEAK PEAK SECTION ---------*/

.sneak-peek-section{
    width: 90%;
    height: 450px;
    position: absolute;
    top: 470vh;
    left: 80px;
}

.sneak-container-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sneak-block{
    width: 250px;
    height: 450px;
    background: #5602c1;
    border-radius: 20px;
}

.sneak-block h3{
    color: white;
    text-align: center;
    padding-top: 150px;
    line-height: 1.5;
    font-weight: 700;
}

@media(max-width:600px){
    .sneak-peek-section{
        width: 80%;
        height: 170vh;
        position: absolute;
        top: 620vh;
    } 

    .sneak-container-list{
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .sneak-block{
        width: 200px;
        height: 400px;
        background: #5602c1;
        border-radius: 20px;
    }
}


/*------- ABOUT SECTION --------*/

.about-section{
    width: 100%;
    height: 550px;
    position: absolute;
    top: 550vh;
}

.about-inner{
    width: 100%;
    height: 500px;
    background: linear-gradient(104.39deg,#1f87ec 3.92%,#29c2c2 81.45%);
    position: relative;
    top: 25px;
    display: flex;
    flex-direction: row;
}

.about-inner-l{
    width: 50%;
    height: 100%;
}

.about-inner-l h3{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 2px;
    margin-left: 25px;
    margin-top: 25px;
    text-shadow: 0 0 5px #0000006b;
}

.about-inner-l p{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
    text-align: justify;
    padding: 20px 10px;
}

.about-inner-r{
    width: 50%;
    height: 100%;
}

.about-inner-r img{
    width: 100%;
    height: 100%;
}

@media(max-width:600px){
    .about-section{
        width: 100%;
        height: 1100px;
        position: absolute;
        top: 800vh;
    } 

    .about-inner{
        width: 100%;
        height: 1050px;
        background: linear-gradient(104.39deg,#1f87ec 3.92%,#29c2c2 81.45%);
        position: relative;
        top: 25px;
        display: flex;
        flex-direction: column;
    }

    .about-inner-l{
        width: 100%;
        height: 50%;
    }

    .about-inner-r{
        width: 100%;
        height: 50%;
    }
}


/*------- FORM SECTION -------*/

.form-section{
    width: 100%;
    height: 700px;
    position: absolute;
    top: 640vh;
}

.form-inner-block{
    width: 90%;
    height: 640px;
    background: #F6F5F5;
    margin: 30px 5%;
    border-radius: 50px;
}

.form-upper-block{
    width: 100%;
    height: 30%;
}

.form-upper-block h3{
    font-size: 35px;
    color: #3F49AC;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.form-upper-block h6{
    font-size: 25px;
    font-weight: 500;
    color: grey;
}

.form-lower-block{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
}

.form-lower-left{
    width: 50%;
    height: 100%;
}

.form-lower-left h1{
    color: #f0852d;
}

.form-lower-left a{
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    padding-left: 20px;
}

.form-lower-left input{
    font-weight: 300;
    min-width: 100px;
    max-width: 500px !important;
    border: 1px solid #3F49AC;
    font-size: 16px;
    height: 35px;
    margin: 10px 50px;
    padding: 5px 10px;
}

.form-lower-left textarea{
    width: 500px;
    font-weight: 300;
    border: 1px solid #3F49AC;
    font-size: 16px;
    margin: 10px 50px;
    padding: 5px 10px;
}

.form-lower-left #button{
    width: 500px;
    background: #3F49AC;
    color: #fff;
}

.form-lower-right{
    width: 50%;
    height: 100%;
}

.form-lower-right img{
    width: 80%;
    height: 80%;
    margin: 10% 10%;
    background-size: 100% 100%;
}

@media(max-width:600px){
    .form-section{
        width: 100%;
        height: 1050px;
        position: absolute;
        top: 1030vh;
    }

    .form-inner-block{
        width: 90%;
        height: 1000px;
        background: #F6F5F5;
        margin: 30px 5%;
        border-radius: 50px;
    }

    .form-upper-block{
        width: 100%;
        height: 20%;
    }

    .form-lower-block{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
    }

    .form-lower-left{
        width: 100%;
        height: 50%;
    }

    .form-lower-left a{
        text-decoration: none;
        font-size: 25px;
        font-weight: 600;
        padding-left: 20px;
    }

    .form-lower-left input{
        font-weight: 300;
        min-width: 100px;
        max-width: 430px !important;
        border: 1px solid #3F49AC;
        font-size: 16px;
        padding: 5px 10px;
        height: 30px;
        margin: 10px 50px;
    }

    .form-lower-right{
        width: 100%;
        height: 50%;;
    }

    .form-lower-left textarea{
        width: 430px;
        font-weight: 300;
        border: 1px solid #3F49AC;
        font-size: 16px;
        margin: 10px 50px;
        padding: 5px 10px;
    }

    .form-lower-left #button{
        width: 500px;
        background: #3F49AC;
        color: #fff;
    }
}


/*-------- FOOTER --------*/

.footer-section{
    width: 100%;
    height: 60px;
    background: rgb(124,85,202);
    position: absolute;
    top: 750vh;
}

.footer-inner-block{
    width: 90%;
    height: 100%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
}

.footer-left-block{
    width: 70%;
    height: 100%;
}

.footer-left-block p{
    font-size: 18px;
    text-align: right;
    line-height: 60px;
    color: #fff;
}

.footer-right-block{
    width: 30%;
    height: 100%;
}

.footer-right-block ul{
    list-style: none;
    display: flex;
  
    font-size: 18px;
    color: #fff;
    padding-left: 50px;
}

.footer-right-block ul li{
    font-size: 20px;
    line-height: 60px;
    padding: 0 10px;
}

@media(max-width:600px){
    .footer-section{
        width: 100%;
        height: 60px;
        background: rgb(124,85,202);
        position: absolute;
        top: 1250vh;
    }
}